{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title_block %}
    Sign Up
{% endblock %}


{% block h1_title %}
    <h1>Sign Up Please</h1>
    <br/>
    <h3>Welcome</h3>
{% endblock %}

{% block resultBlock %}
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <div class="col-6">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username: </label>
                <br />
                <input type="text" name="username" placeholder="Username"
                       autofocus="autofocus" required
                       id="id_username" style="width: 400px;"/>
            </div>
            <div class="form-group">
                <label for="id_email">E-mail (optional): </label>
                <br />
                <input type="email" name="email" placeholder="E-mail address"
                       autocomplete="email"
                       id="id_email" style="width: 400px;"/>
            </div>
            <div class="form-group mb-1">
                <label for="id_password1">
                    Password:
                </label>
                <br />
                <input type="password" name="password1" placeholder="Please imput your password" required
                       autocomplete="new-password" 
                       id="id_password1"
                       style="width: 400px;"/>
            </div>
            <div class="form-group mb-2">
                <label for="id_password2">
                    Password(Again):
                </label>
                <br />
                <input type="password" name="password2" placeholder="Password (again)" required
                       id="id_password2"
                        style="width: 400px;"/>
            </div>
            <button class="primaryAction btn btn-primary" type="submit" id="submit">Sign Up
            </button>
        </form>
    </div>

{% endblock %}
