{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Pages
{% endblock %}

{% block h1_title %}
    <h1>All Categories</h1>
    <br/>
    <h3>Welcome {{ user.username }}</h3>
{% endblock %}

{% block resultBlock %}
    {% if all_categories %}
        {% for category in all_categories %}
            <div class="show-search-results thumbnail">
                <h4 class="heading-4"><a href="{% url 'rango:show_category' category.name %}"> {{ category.name }}</a></h4>
                <form role="form" class="form-inline">
                    <button type="button" class="btn btn-default likes"><i class="fa fa-heart-o"> {{ category.likes }}</i>
                    </button>
                    <button type="button" class="btn btn-default views"><i class="fa fa-eye"> {{ category.views }}</i>
                    </button>
                </form>
            </div>
        {% endfor %}
    {% endif %}




    <script src="{% static "js/jquery-1.x-git.min.js" %}"></script>
    <script>
        window.addEventListener('pageshow', function (event) {
            if (event.persisted || window.performance &&
            window.performance.navigation.type == 2) {
                location.reload();
            }
        });

        $(function () {
            $(".likes").on('click', function () {
                var thisPage = $(this);
                console.log($(this));
                var name = thisPage.parent().prev().text();
                $.ajax({
                    url: '/rango/like_up',
                    type: "POST",
                    data: {
                        mod: 'WebSiteCategory',
                        name: name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (result) {
                        thisPage.children().text(' ' + result.likes)
                    }
                });
            });

            $("h4").on('click', function () {
                var thisPage = $(this);
                console.log($(this));
                var name = thisPage.text();
                $.ajax({
                    url: '/rango/add_view',
                    type: "POST",
                    data: {
                        mod: 'WebSiteCategory',
                        name: name,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (result) {

                    }
                });
            });
        });
    </script>



{% endblock %}