{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    HomePage
{% endblock %}

{% block h1_title %}
    <h1>Rango HomePage</h1>
    <br/>
    <h3>Welcome {{ user.username }}</h3>
{% endblock %}



{% block searchBlcok %}
    <form class="form-inline" role="form">
        <div class="form-group col-md-11">
            <input type="text" class="form-control" id="search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
{% endblock %}

{% block resultBlock %}
    <div class="col-md-6 result-block">
        <h3 class="text-center">Top 5 Viewd Category</h3>
        {% if web_site_categories %}
            <ul>
                {% for category in web_site_categories %}
                    <li><a href="{% url 'rango:show_category' category.name %}"
                           style="font-size:medium;">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There is no WebSiteCategories presented.</strong>
        {% endif %}
        <div class="col-md-6">
            <a href="{% url 'rango:categories' %}" class="btn btn-info col-md-offset-6">More Categories</a>
        </div>
    </div>
    <div class="col-md-6 result-block">
        <h3 class="text-center">Top 5 Liked Pages</h3>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}" style="font-size:medium;">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There is no pages presented.</strong>
        {% endif %}
        <div class="col-md-6">
            <a href="{% url 'rango:pages' %}" class="btn btn-info col-md-offset-6">More Pages</a>
        </div>
    </div>
{% endblock %}