{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Pages
{% endblock %}

{% block h1_title %}
    <h1>All Pages</h1>
    <br/>
    <h3>Welcome {{ user.username }}</h3>
{% endblock %}

{% block resultBlock %}
    {% if current_page %}
        {% for data in current_page %}
            <div class="show-search-results thumbnail">
                <div class="title" style="margin-bottom: 10px;"><a style="font-size: medium;"
                                                                   href="{{ data.url }}">{{ data.title }}</a></div>
                <form role="form" class="form-inline">
                    <button type="button" class="btn btn-default likes"><i class="fa fa-heart-o"
                                                                           style="font-size:15px"> {{ data.likes }}</i>
                    </button>
                    <button type="button" class="btn btn-default views"><i class="fa fa-eye"
                                                                           style="font-size:15px"> {{ data.views }}</i>
                    </button>
                    <button type="button" class="btn btn-default category"><i class="fa fa-tag"
                                                                              aria-hidden="true"> {{ data.web_site_category }}</i>
                    </button>
                </form>
            </div>
        {% endfor %}
        {% if current_page.has_previous %}
            <div class="col-md-6" style="float:left;">
                <a href="{% url 'rango:pages' %}?current_page={{ current_page.previous_page_number }}"
                   class="btn btn-default col-md-offset-6"> Previous</a>
            </div>
        {% else %}
            <div class="col-md-6" style="float:left;">
                <button class="btn btn-default col-md-offset-6 disabled">Previous</button>
            </div>
        {% endif %}

        {% if current_page.has_next %}
            <div class="col-md-6" style="float:left;">
                <a href="{% url 'rango:pages' %}?current_page={{ current_page.next_page_number }}"
                   class="btn btn-default col-md-offset-6"> Next</a>
            </div>
        {% else %}
            <div class="col-md-6" style="float:left;">
                <button class="btn btn-default col-md-offset-6 disabled"> Next</button>
            </div>
        {% endif %}

    {% endif %}


    <script src="{% static "js/jquery-1.x-git.min.js" %}"></script>
    <script>
        window.addEventListener('pageshow', function (event) {
            if (event.persisted || window.performance &&
                window.performance.navigation.type == 2) {
                location.reload();
            }
        });

        $(function () {
            $(".likes").on('click', function () {
                var thisPage = $(this);
                console.log($(this));
                var title = thisPage.parent().prev().text();
                $.ajax({
                    url: '/rango/like_up',
                    type: "POST",
                    data: {
                        mod: 'Page',
                        title: title,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (result) {
                        console.log(thisPage.children().text())
                        thisPage.children().text(' ' + result.likes)
                    }
                });
            });

            $(".title").on('click', function () {
                var thisPage = $(this);
                var title = thisPage.text();
                $.ajax({
                    url: '/rango/add_view',
                    type: "POST",
                    data: {
                        mod: 'Page',
                        title: title,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (result) {

                    }
                });
            });
        });
    </script>

{% endblock %}