{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Show Category
{% endblock %}

{% block h1_title %}
    {% if web_site_category %}
        <h1>Category: {{ web_site_category.name }}</h1>
        <br/>
        <h3>Welcome {{ user.username }}</h3>
    {% endif %}
{% endblock %}

{% block resultBlock %}
    {% if web_site_category %}
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <div class="show-search-results thumbnail">
                        <div class="title"><a class="top-5-list" href="{{ page.url }}">{{ page.title }}</a></div>
                        <form role="form" class="form-inline">
                            <button type="button" class="btn btn-default likes"><i class="fa fa-heart-o"> {{ page.likes }}</i>
                            </button>
                            <button type="button" class="btn btn-default views"><i class="fa fa-eye"> {{ page.views }}</i>
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in this category.</strong>
        {% endif %}
    {% else %}
        <strong>No WebSite Category exist currently!</strong>
    {% endif %}


    <script src="{% static "js/jquery-1.x-git.min.js" %}"></script>
    <script>
        window.addEventListener('pageshow', function (event) {
            if (event.persisted || window.performance &&
            window.performance.navigation.type == 2) {
                location.reload();
            }
        });

       $(function () {
            $(".likes").on('click', function () {
                var thisPage = $(this);
                console.log($(this));
                var title = thisPage.parent().prev().text();
                $.ajax({
                    url: '/rango/like_up',
                    type: "POST",
                    data: {
                        mod: 'Page',
                        title: title,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (result) {
                        console.log(thisPage.children().text())
                        thisPage.children().text(' ' + result.likes)
                    }
                });
            });

            $(".title").on('click', function () {
                var thisPage = $(this);
                var title = thisPage.text();
                $.ajax({
                    url: '/rango/add_view',
                    type: "POST",
                    data: {
                        mod: 'Page',
                        title: title,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    success: function (result) {

                    }
                });
            });
        });
    </script>

{% endblock %}

